/*CSS De Admin */

/* Boton File Crear Camiseta */

.container-input {
  text-align: center;
  background: rgb(121, 121, 121);
  padding: 50px 0;
  border-radius: 6px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato";
}

.inputfile-5 + label {
  color: rgb(119, 195, 165);
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #1cab6898;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(119, 195, 172);
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #659f7a;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
/* Boton File Crear Camiseta */



/* CheckBox Camiseta */

.checkbox{
    align-items: flex-start;
}
.mycheckbox input:checked ~ span::after {
  background: rgb(12, 167, 12);
  transform: scale(0.85) translate(35px);
}
.mycheckbox input:checked ~ span .on {
  transform: translate(30px);
  opacity: 1;
}

.mycheckbox input:checked ~ span .off {
  transform: translate(30px);
  opacity: 0;
}

.mycheckbox input:checked ~ span .on-bell {
  transform: translate(31px);
}

.mycheckbox input {
  display: none;
}

.mycheckbox span {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background: rgb(187, 186, 186);
  cursor: pointer;
  box-shadow: inset 0px 0px 2px rgb(15, 15, 15);

  position: relative;
}

.mycheckbox span::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  transform: scale(0.85);
  border-radius: 30px;
  background: rgb(248, 22, 22);
  transition: 0.5s;
  box-shadow: inset 0px 0px 2px rgb(37, 37, 37);
}

.mycheckbox i {
  position: absolute;
  left: 7px;
  top: 7px;
  z-index: 1;
  color: white;
  transition: 0.5s;
}

.mycheckbox .on {
  opacity: 0;
  left: 7px;
  top: 7px;
}

.mycheckbox .off {
  left: 9px;
  top: 7px;
}

.mycheckbox .off-bell {
  left: 5px;
}

/* CheckBox Camiseta */
